.Debits {
    text-align: center;
}
ul {
    font-size: large;
    text-align: center;
    list-style: inside; /* Ensures the bullet points are also centered*/
}

label[for="amount"] {
    margin-left: 20px;
}

#addButton {
    margin-left: 20px;
}

