.Login {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
form {
    text-align: center;
    margin-top: 50px;
}

label {
    text-align: center;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}

input[name="userName"] {
    width: 150px;
    margin-bottom: 20px;
}

input[name="password"] {
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
}
  
button {
    margin-left: 210px;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
}