.Login {
  text-align: center;
}

h1 { /* applies to all h1 elements in the application */
  text-align: center;
  margin-top: 40px;
  font-size: 50px;
}

form { /* applies to all form elements in the application */
    text-align: center;
    margin-top: 50px;
}

label { /* applies to all label elements in the application */
    text-align: center;
    margin-right: 10px;
    font-size: large;
    font-weight: bold;
}

input[name="userName"] {
    width: 150px;
    margin-bottom: 20px;
}

input[name="password"] {
    width: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
}
  
#LoginButton { /* applies to all button elements in the application */
    margin-left: 210px;
    padding: 3px 5px 3px 5px;
    font-weight: bold;
}