span {
    margin-left: 10px;
}
.loginNav {
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
}
ß
.homeNav {
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
}

.debitNav {
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold; 
}
.creditNav {
    text-align: center;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold; 
}

.userProfileNav {
    margin-top: 30px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 30px;
}
